__pycache_/
.git/
.github/
.pytest_cache/
.venv/
artifacts/
containers/
data/
docs/
notebooks/
scripts/
src/components/
src/pipelines/
src/trigger/
src/__version__.py
terraform/
tests/
.env
.env.example
.flake8
.gitignore
.pre-commit-config.yaml
.pydocstyle
.python-version
.yamllint
kaggle.json
kaggle.json.example
Makefile
README.md
*.json
*.xml
